<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs my-3">
    <%= f.input :content, required: true, autofocus: true %>
    <%= f.file_field :thumbnail, required: true, class: 'form-control', 
    accept: 'image/png, image/jpg, image/jpeg' %>
  </div>

  <div class="form-actions my-3">
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>