<% if false %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1 class="text-center">Post</h1>
<hr>

<div class="row">
    <div class="col-sm-6">
        <div class="card mb-3" style="max-width: 32rem">
            <% @img = @post.thumbnail.url ? @post.thumbnail.url(:width=>1080, :crop=>"fill") : 'https://via.placeholder.com/1080' %>
            <%= image_tag @img, class: "card-img-top" %>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <a href='/users/<%= @post.user.username %>' class='badge bg-light text-dark'>
                    <% @img_rounded = @post.user.avatar.attached? ? @post.user.avatar.url(:width=>32, :height=>32, :crop=>"fill") : 'https://via.placeholder.com/32' %>
                    <%= image_tag @img_rounded, class: "rounded-circle me-2", style: 'width: 2rem' %>
                    <span><%= @post.user.username %></span>
                </a>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center" style="font-size: 1.5rem;">
                    <div class="d-flex align-items-center" style="gap: 1rem;">
                        <% existing_like = @post.likes.find { |like| like.user_id == current_user.id } %>
                        <% if existing_like %>
                            <%= button_to post_like_path(@post, existing_like), method: :delete, class: 'bg-transparent border-0 p-0' do %>
                                <i class="fas fa-heart"></i>
                            <% end %>
                        <% else %>
                            <%= button_to post_likes_path(@post), method: :post, class: 'bg-transparent border-0 p-0' do %>
                                <i class="far fa-heart"></i>
                            <% end %>
                        <% end %>
                        <i class="far fa-comment"></i>
                        <i class="far fa-paper-plane"></i>
                    </div>
                    <i class="far fa-bookmark"></i>
                </div>
                <div class="mt-2"><%= @post.likes.count %> <%= (@post.likes.count) <= 1 ? 'like' : 'likes' %></div>
            </div>
            <div class="card-body">
                <h5 class="card-title"><%= @post.user.username %></h5>
                <p class="card-text"><%= @post.content %></p>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text m-0"><small class="text-muted"><%= time_ago_in_words(@post.created_at).capitalize %></small></p>
                    <% if (current_user && current_user.is_admin?) || @can %>
                        <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-success' %>
                    <% end %>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <%= render @post.comments %>
            </ul>
            <div class="card-footer">
                <%= render 'comments/form' %>
            </div>
        </div>
    </div>
</div>

<hr>