<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= if content_for?(:title) then yield(:title) + ' - ' else 'The MMI social network - ' end %>MMI Fans</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= yield_meta_tag(:description, 'Welcome to MMI Fans, an Instagram remake in Ruby On rails framework for the MMI formation.') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:title" content="MMI Fans - The MMI social network">
    <meta property="og:description" content="<%= yield_meta_tag(:description, 'Welcome to MMI Fans, an Instagram remake in Ruby On rails framework for the MMI formation.') %>">
    <meta property="og:image" content="<%= yield_meta_tag(:image, 'https://res.cloudinary.com/hf10ee93o/image/upload/v1621218861/OnlyMMI_bg_qzsyv4.png') %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= request.original_url %>">
    <meta property="twitter:title" content="MMI Fans - The MMI social network">
    <meta property="twitter:description" content="<%= yield_meta_tag(:description, 'Welcome to MMI Fans, an Instagram remake in Ruby On rails framework for the MMI formation.') %>">
    <meta property="twitter:image" content="<%= yield_meta_tag(:image, 'https://res.cloudinary.com/hf10ee93o/image/upload/v1621218861/OnlyMMI_bg_qzsyv4.png') %>">
  </head>

  <body>
    <header>
      <div class="d-flex justify-content-between align-items-center container">
        <h2>
        <%= link_to :root, title: 'Home' do %>
          <%= image_tag 'https://res.cloudinary.com/hf10ee93o/image/upload/v1621260177/OnlyMMI_d6ymec.png', alt: 'Home button image', class: 'img-fluid', style: 'max-width: 10%;' %>
        <% end %>
        </h2>
        <% if user_signed_in? %>
          <%= link_to 'SIGN OUT', destroy_user_session_path(), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'SIGN IN', new_user_session_path(), class: 'btn btn-success' %>
        <% end %>
      </div>
    </header>
    <main class="container" style="padding-top: 4rem">
      <%= yield %>
    </main>
  </body>
</html>
