<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= if content_for?(:title) then yield(:title) + ' - ' else 'The MMI social network - ' end %>MMI Fans</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= yield_meta_tag(:description, 'Welcome to MMI Fans, an Instagram remake in Ruby On rails framework for the MMI formation.') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <link rel="canonical" href="<%= request.original_url %>">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:title" content="MMI Fans - The MMI social network">
    <meta property="og:description" content="<%= yield_meta_tag(:description, 'Welcome to MMI Fans, an Instagram remake in Ruby On rails framework for the MMI formation.') %>">
    <meta property="og:image" content="<%= yield_meta_tag(:image, 'https://res.cloudinary.com/hf10ee93o/image/upload/v1621218861/OnlyMMI_bg_qzsyv4.png') %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= request.original_url %>">
    <meta property="twitter:title" content="MMI Fans - The MMI social network">
    <meta property="twitter:description" content="<%= yield_meta_tag(:description, 'Welcome to MMI Fans, an Instagram remake in Ruby On rails framework for the MMI formation.') %>">
    <meta property="twitter:image" content="<%= yield_meta_tag(:image, 'https://res.cloudinary.com/hf10ee93o/image/upload/v1621218861/OnlyMMI_bg_qzsyv4.png') %>">
  </head>

  <body>
    <header>
      <div class="d-flex justify-content-between align-items-center container" style="font-size: 1.5rem;">
        <h2>
        <%= link_to :root, title: 'Home' do %>
          <%= image_tag 'https://res.cloudinary.com/hf10ee93o/image/upload/v1621260177/OnlyMMI_d6ymec.png', alt: 'Home button image', class: 'img-fluid', style: 'max-width: 10%;' %>
        <% end %>
        </h2>
        <div class="d-flex gap-4">
          <% if user_signed_in? %>
            <% #@img_profile = current_user.avatar.attached? ? current_user.avatar.url(:secure=>true, :width=>32, :height=>32, :crop=>"fill") : 'https://via.placeholder.com/32' %>
            <% #image_tag @img_profile, alt: 'Profile picture', class: "rounded-circle me-3", style: 'width: 2rem' %>
            <%= button_tag 'button', title: 'Notification', id: 'notif-button', class: 'bg-transparent border-0 p-0' do %>
              <i class="far fa-heart"></i>
            <% end %>
            <%= button_to destroy_user_session_path(), title: 'Logout', method: :delete, class: 'bg-transparent border-0 p-0' do %>
                <i class="fas fa-sign-out-alt"></i>
            <% end %>
          <% else %>
            <%= link_to 'Sign up', new_user_registration_path(), class: 'btn btn-success' %>
            <%= link_to 'Sign in', new_user_session_path(), class: 'btn btn-outline-success' %>
          <% end %>
        </div>
      </div>
    </header>
    <main class="container" style="padding-top: 4rem">
    <div id="notif-modal" class="d-none container position-fixed top left" style="z-index: 100;">
      <div class="row justify-content-end w-100">
        <div class="col-lg-6 bg-light h-50 px-3 shadow-sm rounded" style="overflow-y: scroll; max-height: 50vh">

          <% if current_user %>
            <% @likesNotif = Like.where(post: [current_user.posts]).where.not(user: current_user) %>
            <% @commentsNotif = Comment.where(post: [current_user.posts]) %>

            <% @totalNotif = @likesNotif + @commentsNotif %>

            <% @totalNotif.sort_by(&:created_at).reverse.each do |notif| %>
              <% @img_notif = notif.user.avatar.attached? ? notif.user.avatar.url(:secure=>true, :width=>32, :height=>32, :crop=>"fill") : 'https://via.placeholder.com/32' %>
              <% @thumbnail_notif = notif.post.thumbnail.attached? ? notif.post.thumbnail.url(:secure=>true, :width=>32, :height=>32, :crop=>"fill") : 'https://via.placeholder.com/32' %>
              <div class="d-flex justify-content-between align-items-center my-3">
                <div class="d-flex align-items-center">
                  <%= image_tag @img_notif, alt: 'Notif Profile picture', class: "rounded-circle", style: 'width: 2rem;' %>
                  <div class="mx-3">
                    <span><strong><%= notif.user.username %></strong> 
                    <% if notif.class.name.downcase === 'like' %>
                    like your post 
                    <% elsif notif.class.name.downcase === 'comment' %>
                    comment your post
                    <% end %>
                    <br><small class="text-muted"><%= time_ago_in_words(notif.created_at).upcase %> AGO</small><span>
                  </div>
                </div>
                <%= image_tag @thumbnail_notif, alt: 'Notif Post Thumbnail', class: "border", style: 'width: 2rem' %>
              </div>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
      <%= yield %>
    </main>
  </body>
</html>
